* {
    box-sizing: border-box;
}

.container{
	margin: 5%;
	font-family: 'helvetica';
	display: inline-block;
	width: 33.3%;
	perspective: 1000;
/*	z-index: 1;*/
}

.containerblue{
	border-color: #7bb5de;
	color: #7bb5de;
}

.containerblue .rotate{
	border-color: #7bb5de;
	color: #7bb5de;
}

.containerblue .dropdown{
	border-color: #7bb5de;
}

.top{
	border: 3px solid;
	width: 100%;
	position: relative;
	perspective: 1000;
}

.shirt{
	position: relative;
	width: 100%;
	transform-style: preserve-3d;
	transition: all .8s linear;
}

.shirt:hover{
	transform: rotateY(180deg);
}

.front img{
	width: 100%;
	padding: 10%;
	position: relative;
	z-index: 2;
}

.back img{
	width: 100%;
	padding: 10%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.face{
	position: absolute;
	backface-visibility: hidden;
}

.face .back{
	display: block;
	transform: rotateY(180deg);
	backface-visibility: : hidden;
}

.front{
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

/*.shirt{
	border-bottom: 3px solid;
}*/

.middle{
	width: 100%;
	border-top: 3px solid;
}

.icon{
	font-size: 1.5em;
	display: inline-block;
	width: 20%;
	text-align: center;
	border-right: 3px solid;
	padding: 5% 3%;
	margin: -2px 0;
	position: relative;
}

.icon2{
	font-weight: bold;
}

.icon:nth-child(5){
	border-right: none;
}

.icon:hover, .rotate:hover{
	background-color: #7bb5de;
	border-color: #7bb5de;
	color: white;
}

.bottom{
	font-size: 1.5em;
	display: block;
	margin-top: 3%
}

.bottom span{
	font-weight: 300;
}

.bottom h1{
	font-weight: 700;
	float: right;
}

.rotate{
	font-size: 1.2em;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	border: none;
	border-left: solid 3px;
	border-bottom: solid 3px;
	outline: none;
	padding: 2% 3%;
}

.dropdown{
	display: none;
	background-color: white !important;
	border: 3px solid;
	position: absolute;
	left: -7px;
	width: 76px;
	/*opacity: 0;
	transition: opacity 0.2s ease-in;*/
}

.size{
	top: -217px;
	height: auto;
/*	width: 65px;*/
}

.size .dropdown-content{
	width: 100%;
}

.xl {
	padding: 5% 10%;
}

.l {
	padding: 5% 15%;
}

.m{
	padding: 5% 20%;
}

.s{
	padding: 5% 25%;
}

.square{
	top: -74px;
	height: 76px;
/*	width: 60px;*/
}

.square .dropdown-content{
	width: 40%;
	height: 40%;
	display: inline-block;
}

.square1{
	background-color: #7bb5de;
	margin-right: 2.5%;
	margin-top: 6%;
	/*margin-bottom: 5%;*/
}

.square2{
	background-color: #D482AA;
	margin-left: 2.5%;
	margin-top: 6%;
	/*margin-bottom: 5%;*/
}

.square3{
	background-color: #DCB07D;
	margin-right: 2.5%;
	/*margin-top: 2.5%;*/
}

.square4{
	background-color: #77c16c;
	margin-left: 2.5%;
	/*margin-top: 2.5%;*/
}

.icon4:hover .dropdown{
	display: block;
/*	opacity: 1;*/
}

.icon3:hover .dropdown{
	display: block;
/*	opacity: 1;*/
}

@media screen and (max-width: 990px){
	.container{
		width: 100%;
	}

	.icon .rotate{
		font-size: 4em;
	}

	.dropdown{
		width: 210px;
	}

	.square{
		height: 210px;
		top: -210px;
	}
}

@media screen and (max-width: 768px){
	.dropdown{
		width: 166px;
	}

	.icon, .rotate{
		font-size: 3em;
	}

	.size{
		top: -470px;
	}

	.square{
		height: 166px;
		top: -166px;
	}
}

@media screen and (max-width: 425px){
	.dropdown{
			width: 95px;
	}

	.size{
		top: -269px;
	}

	.square{
		height: 95px;
		top: -95px;
	}

	.icon, .rotate{
		font-size: 1.6em;
	}
}